body{
    background-color: #171717;
}

.global-wrapper{
    width: 1000px;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 0 95px 0;
    height: min-content;
}

.header-button-wrapper{
    border: 1px solid #E4B564;
}

.header-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 26px;
}

.header-link{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #E4B564;
    font-size: 18px;
    font-family: circe, sans-serif;
}

.phone-clipart{
   width: 13px;
   height: 13px;
}

.main-content{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.main-title{
    font-size: 35px;
    color: white;
    margin: 0 0 90px 0;
}

.main-text{
    color: white;
    margin: -50px 140px 35px 0;
}

.first-grid-container{
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-auto-rows: minmax(309px, auto);
    gap: 25px;
    text-align: center;
    margin: 0 0 120px 0;
}

.first-grid-second-el, 
.first-grid-fourth-el,
.first-grid-fifth-el{
    grid-column: span 2;
}

.first-grid-first-el,
.first-grid-second-el,
.first-grid-third-el,
.first-grid-fourth-el,
.first-grid-fifth-el{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-grid-first-el{
    background-color: #634F2C;
}

.first-grid-second-el{
    background: #B4A385;
}

.first-grid-third-el{
    background: #E4B564;
}

.first-grid-fourth-el{
    background: #635A4A;
}

.first-grid-fifth-el{
    background: #B08C4D;
}

.second-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, minmax(155px, auto));
    gap: 25px;
    margin: 0 0 150px 0;
}

.second-grid-first-el,
.second-grid-sixth-el,
.second-grid-seventh-el{
    background: #0E0E0E;
}

.second-grid-second-el,
.second-grid-third-el,
.second-grid-fourth-el{
    background: #1F1F1F;
}

.second-grid-fifth-el{
    background: #E4B564;
}

.second-grid-first-el{
    grid-area: 1 / 1 / 3 / 1;
}

.second-grid-fourth-el{
    grid-area: 3 / 1 / 7 / 1;
}

.second-grid-second-el{
    grid-area: 1 / 2 / 4 / 2;
}

.second-grid-fifth-el{
    grid-area: 4 / 2 / 7 / 2;
    color: black;
}

.second-grid-third-el{
    grid-area: 1 / 3 / 3 / 3;
}

.second-grid-sixth-el{
    grid-area: 3 / 3 / 5 / 3;
}

.second-grid-seventh-el{
    grid-area: 5 / 3 / 7 / 3;
}

.second-grid-first-el,
.second-grid-second-el,
.second-grid-third-el,
.second-grid-fourth-el,
.second-grid-fifth-el,
.second-grid-sixth-el,
.second-grid-seventh-el{
    padding: 35px 10px 10px 40px;
}

.second-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 50px 0;
}

.second-header-title{
    font-size: 35px;
}

.second-header-link{
    padding: 10px 25px 10px 25px;
    text-align: center;
    text-decoration: none;
    color: #E4B564;
    font-size: 18px;
    font-weight: 400;
    font-family: circe, sans-serif;
    border: 1px solid #E4B564;
}

.third-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(250px, auto);
    text-align: center;
    line-height: 20px;
}

.third-grid-first-el,
.third-grid-second-el,
.third-grid-third-el,
.third-grid-fourth-el,
.third-grid-fifth-el,
.third-grid-sixth-el{
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-grid-second-el{
    flex-direction: column;
}

.third-grid-first-el,
.third-grid-sixth-el{
    background: #634F2C;
}

.third-grid-second-el{
    background: #E8D2ABC2;
}

.third-grid-third-el{
    background: #E4B564;
}

.third-grid-fourth-el{
    background: #635A4A;
}

.third-grid-fifth-el{
    background: #B08C4D;
}

.third-grid-wrapper{
    background: #0E0E0E;
    padding-top: 100px;
    margin-bottom: 200px;
}

.third-grid-width{
    width: 1000px;
    margin: auto;
}